
body {
    margin:0;
}

a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

/* Menu Navigation Bar */
.navbar {
    display: grid;
    grid-template-columns: repeat(2, 100px) 1fr repeat(3, 70px);
    grid-template-areas: 'About Blog . . . SignIn';
    width: 100%;
    margin-top: 16px;
}

.navbar a:hover {
    text-decoration: underline;
}

.about {
    grid-area: About;
    justify-self: center;
    align-self: center;
    margin-top: 8px;
}
.blog {
    grid-area: Blog;
    justify-self: start;
    align-self: center;
    margin-top: 8px;
}
.signin {
    grid-area: SignIn;
    justify-self: start;
    align-self: center;
    margin-top: 8px;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    '. MainLogo .'
    '. Search .';
}

.main-logo {
    grid-area: MainLogo;
    width: 400px;
    justify-self: center;
    align-self: end;
    cursor: pointer;
    margin: 15px;
}

.search-bar {
    grid-area: Search;
    justify-self: center;
    align-self: center;
    width: 500px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid rgba(34, 34, 34, 0.2);
}

.search-bar:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.search-bar input {
    margin: 2px;
    width: 450px;
    border: none;
}

.search-bar input:focus {
    outline: none;
}

.mag-glass {
    width: 20px;
    height: 20px;
    justify-self: center;
    align-self: center;
}

footer {
    display: grid;
    grid-template-columns: repeat(2, 100px) 1fr repeat(3, 70px);
    grid-template-areas: ' RandomLink . . . . .';
    position: absolute;
    bottom: 0;
    padding: 8px;
    width: 100%;
    opacity: 0.6;
    background-color: rgba(242, 242, 242,0.9);
    border-top: 1px solid rgba(160, 87, 87, 0.5);
}

footer a:hover {
    text-decoration: underline;
}

.random-link {
    grid-area: RandomLink;
    justify-self: start;
    align-self: center;
}
